.pageNumbers {
  list-style: none;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%; /*imam neki padding od 40 sa leve strane pa je zato sire, naci odakle je*/
  padding-inline-start: 0; /*resenje za problem iznad*/
  display: flex;
  justify-content: center;
}

.pageNumbers li {
  margin: 1px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: rgb(72, 151, 224);
  color: rgb(207, 26, 26);
}
